.bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .middle-section {
    background: url(../css/Images/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  h1 {
    font-size: 2em;
    padding-bottom: 10px;
    text-align: center;
  }

  button {
    margin: 20px;
    background: #007bff;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    transition: 0.3s;

    &:hover {
      background: #2f90f7;
      box-shadow: 0 0 5px #2f90f7;
      cursor: pointer;
    }
  }
  input {
    padding: 10px 5px;
    width: 300px;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    outline: none;
    &::placeholder {
      padding: 10px 5px;
    }
  }

  input:hover {
    box-shadow: 0 0 5px white;
    cursor: pointer;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 300px;
    padding: 15px 0;
    background-color: white;

    .about{
        a{
            color:rgb(126, 126, 243);
            margin: 0 10px;
            transition: 0.3s;
            &:hover{
                cursor: pointer;
                color:blue;
            }
        }
        p{
            margin:10px 10px;
            color: rgb(153, 149, 149);
        }
      
    }

    .icons{
        
        display: flex;
        gap:40px;
        
        i{
            font-size:40px;
            color: blue;
            transition: 0.3s;
            &:hover{
                cursor: pointer;
                color:lightblue;
            
                

            }
        }
    }
  }

}
