nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 15px 0;
    background-color: white;
  
    button {
      background: #007bff;
      color: white;
      border-radius: 2px;
      border: none;
      padding: 4px 20px;
      transition: 0.3s;
      font-size: 1.1em;
  
      &:hover {
        background: #2f90f7;
        box-shadow: 0 0 5px #2f90f7;
        cursor: pointer;
      }
    }
  
    a {
      font-size: 1.3em;
      font-weight: bold;
      color: black;
      text-decoration: none;
    }
  }
  